<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
         Bienvenue sur &nbsp;  <br> Fany
        </ion-text>
      </h4>
    </div>

   
    <br>
    <div>
      <ion-button icon-left size="medium" href="register" expand="full" shape="round" color="primary"  tappable>
        <ion-icon name="log-in"></ion-icon>
        Inscription
      </ion-button>

      <p text-center>
        <ion-text color="light">
         Ou inscription via:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="primary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="danger">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span class="paz" tappable>
        <ion-text color="light">
         Déjà membre ?&nbsp;<strong ><a href="login">  Connexion</a></strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>